

#main-right {
    background: url(../img/menu.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

#main-left {
    background: url(../img/main-left.gif);
    background-repeat: no-repeat;
    background-size: cover;
}



